<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slots="start">
    <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title text-center>
      <p class="centered-p">Registro</p>
  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>    
  <ion-card>
    <ion-card-content>
      <form [formGroup]="formularioRegistro">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input formControlName="apellido" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Carrera</ion-label>
          <ion-input formControlName="carrera"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Rut</ion-label>
          <ion-input formControlName="rut"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
      </form>
      <br>
      <ion-button (click)="guardar">Registrarse</ion-button>
      <ion-button [routerLink]="['/login']">Ir al Login</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>